<table class="table">
    <thead>
        <tr>
            <th scope="col" class="table-dark">#</th>
            <th scope="col" class="table-dark">Bandera</th>
            <th scope="col" class="table-dark">Nombre</th>
            <th scope="col" class="table-dark">Población</th>
            <th scope="col" class="table-dark"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let capital of capitales, let i = index">
            <td class="table-secondary">{{i+1}}</td>
            <td class="table-secondary"><img [src]="capital.flag" alt="no disponible" style="width: 75px; height: 75px;"/></td>
            <td class="table-secondary">{{capital.capital}}</td>
            <td class="table-secondary">{{capital.population}}</td>
            <td class="table-secondary">
                <button type="button" class="btn btn-primary" [routerLink] = "['/pais', capital.alpha2Code]" >Ver mas</button>
            </td>
        </tr>
    </tbody>
</table>
